.MuiToolbar-root {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.MuiToolbar-root::after {
    content: '🚀 🔧 🌏';
    color: purple;
    font-size: 2rem;
    margin-left: 12px;
}